.view-content .ob-html-comment-body {
    display: none;
}

.view-content .ob-html-comment {
    background-color: rgb(23, 43, 14);
}

.view-content .ob-html-comment:hover>.ob-html-comment-body {
    display: block;
    background-color: rgb(51, 2, 2);
}

.theme-light .view-content .ob-html-comment {
    background-color: rgb(243, 243, 103);
}

.theme-light .view-content .ob-html-comment:hover>.ob-html-comment-body {
    background-color: rgb(241, 110, 110);
}

.reading-comments .function-bar {
    display: flex;
    align-items: center;
    padding: 0px;
    margin-bottom: 5px;
}

.reading-comments .function-bar .n-button {
    margin-right: 5px;
    text-align: center;
}

.reading-comments .function-bar .n-input {
    flex: 1;
    min-width: 10px;
}
