/* colors moved to constantsAndUtils.ts */

.view-content .ob-html-comment-body {
    display: none;
}

.view-content .ob-html-comment:hover>.ob-html-comment-body {
    display: inline;
    position: relative;
    /* z-index: 1; */
}
