.view-content .ob-html-comment-body {
    display: none;
}

.view-content .ob-html-comment {
    background-color: rgb(88, 88, 9);
}

.view-content .ob-html-comment:hover > .ob-html-comment-body {
    display: block;
    background-color: rgb(51, 2, 2);
}

.theme-light .view-content .ob-html-comment {
    background-color: rgb(243, 243, 103);
}

.theme-light .view-content .ob-html-comment:hover > .ob-html-comment-body {
    display: block;
    background-color: rgb(241, 110, 110);
}
